.App{
  width: 961px;
  height: 851px;
  background-color: #171821;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 24px;
}
.Sidebar{
  width:132px ;
  height: 813px;
  background-color: #171821;
  border-width: 1px;
}
.header{
  height: 84px;
}
.button1{
   width: 116px;
   height: 36px;
   margin-top:74px;
   margin-left: 26px;
   border-radius: 6px;
   border-style: none;
   background-color: #171821;
   color:#87888C;
   font-family: 'Inter', sans-serif;
   font-weight: 500;
   font-size: 12px;
   line-height: 14.52px;
   padding-left: 15px;
}
.button2{
  
  width: 116px;
  height: 36px;
  margin-top:25px;
  border-radius: 6px;
  border-style: none;
  margin-left: 26px;
  background-color: #171821;
  color:#87888C;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
   font-size: 12px;
   line-height: 14.52px;
   padding-right: 21px;
}
.button3{
  width: 116px;
  height: 36px;
  margin-top:25px;
  border-radius: 6px;
  margin-left: 26px;
  background-color: #171821;
  border-style: none;
  color:#87888C;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
   font-size: 12px;
   line-height: 14.52px;
   padding-left:19px ;
}
.button4{
  width: 116px;
  height: 36px;
  margin-top:25px;
  border-radius: 6px;
  margin-left: 26px;
  border-style: none;
  background-color: #171821;
  color:#87888C;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
   font-size: 12px;
   line-height: 14.52px;
   padding-right:25px ;
}
.button5{
  width: 116px;
  height: 36px;
  margin-top:25px;
  border-radius: 6px;
  margin-left: 26px;
  border-style: none;
  background-color: #171821;
  color:#87888C;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
   font-size: 12px;
   line-height: 14.52px;
   padding-right: 14px;
}
.button6{
  width: 116px;
  height: 36px;
  margin-top:25px;
  border-radius: 6px;
  margin-left: 26px;
  border-style: none;
  background-color: #171821;
  color:#87888C;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
   font-size: 12px;
   line-height: 14.52px;
   padding-left: 21px;
}
.button7{
  width: 116px;
  height: 36px;
  margin-top:25px;
  border-radius: 6px;
  margin-left: 26px;
  border-style: none;
  background-color: #171821;
  color:#87888C;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
   font-size: 12px;
   line-height: 14.52px;
   padding-left: 9px;
}
.button8{
  width: 116px;
  height: 36px;
  margin-top:25px;
  border-radius: 6px;
  margin-left: 26px;
  border-style: none;
  background-color: #171821;
  color:#87888C;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
   font-size: 12px;
   line-height: 14.52px;
   padding-right: 14px;
}
.button9{
  width: 116px;
  height: 36px;
  margin-top:25px;
  border-radius: 6px;
  margin-left: 26px;
  border-style: none;
  background-color: #171821;
  color:#87888C;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
   font-size: 12px;
   line-height: 14.52px;
   padding-right: 9px;
}
.button10{
  width: 116px;
  height: 36px;
  margin-top:25px;
  border-radius: 6px;
  margin-left: 26px;
  border-style: none;
  background-color: #171821;
  color:#87888C;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
   font-size: 12px;
   line-height: 14.52px;
   padding-right: 17px;
  
}
.button11{
  width: 116px;
  height: 36px;
  margin-top:25px;
  border-radius: 6px;
  margin-left: 26px;
  border-style: none;
  background-color: #171821;
  color:#87888C;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
   font-size: 12px;
   line-height: 14.52px;
   padding-right: 17px;
  
  
}
.input{
  position:absolute;
  bottom: 754px;
  top:17px;
  left:175px;
  width:504px;
  height:44px;
  background-color:#21222D;
  border-radius: 8px;
  border-width: 0px;
  padding-left: 35px;
  color:#D2D2D2;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
}
.pic{
  width:10.83px;
  height: 10.83px;
  position: relative;
  bottom: 783.5px;
  right: 279px;
  background-color:#21222D;
}
.pic1{
  width:14.89px;
  height:16.79px;
  
}
.pic2{
  width:6px;
  height:6px;
  position: relative;
  bottom:9px;
  right:6px;  
}
.left-headersection{
  position:absolute;
  top:27px;
  left:848px;
}
.container{
  display:grid;
  grid-template-columns: repeat(3, 1fr); 
  height:500px;
  width:201px;
  background-color:#171821;
  box-shadow: h-offset v-offset blur spread color;
  border-width: 1px;
}
button:hover{
     background-color: #A9DFD8;
}